# Copy of original .gitignore
.idea
.idea/*

.DS_Store
**/*/__pycache__/*

**/node_modules/*

**/static/*
**/media/*

*.pyc

**/*/package-lock.json

.vscode
.vscode/*

**/Pods/*

*~
\#*\#
.\#*

nohup.out
pytest-report.xml
.coverage
coverage.xml
htmlcov

*.csv

docker-compose-local.yml

**/pytest-report.xml
scripts
scripts/*

bitbucket-pipelines.yml
sonar-project.properties

